*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;

}
.d-flex{
width: 600px;
margin-left: 150px;
}
/* Nav Bar */
#navbar-brand{
  font-size: 40px;
background: linear-gradient(#540748);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 50px;
}
.form-control{
    margin-left: -100px;
 
}

 .nav-item{
    font-size: 16px;
    background: linear-gradient(rgb(45, 45, 45));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
 }
/* //////////////// image ///////////////// */
.image-fluid{
    margin-top: -16px;
    width: 1264px;

}

/* container */
.main-container{
    height: 65px;
    width: 1264px;
    background-color: rgb(253, 225, 252);
    margin-bottom:-10px;
}
.small-container{
    height: 45px;
    width: 1235px;
    background-color: rgb(255, 255, 255);
  margin-left: 15px;
margin-top: -13px;
border-radius: 10px;
}
.img-fluid{
    margin-top: 20px;
    margin-right:-40px;
    
}
.img-fluid1{
margin-left: 70px;
 margin-bottom:-25px;
}
.img-fluid2{
margin-left: 30px;
 margin-bottom:-25px;
}
.img-fluid3{
margin-left: 25px;
 margin-bottom:-25px;
}
.img-fluid4{
margin-left: 25px;
 margin-bottom:-25px;
}
.img-fluid5{
margin-left: 25px;
 margin-bottom:-25px;
}
.img-fluid6{
margin-left: 25px;
 margin-bottom:-20px;
}
.imagegold-fluid{

    margin-top:20px;
    width: 1264px;
 height: 450px;
}

#names{
    word-spacing: 110px;
}
.text-start{
    margin-top: 65px;
    margin-left: 50px;
    font-size: 29px;
    font-weight: 400;
}
.carousel-item1{
    height: 450px;
    width: 220px;
    margin-left: 55px;
}
.carousel-item2{
    height: 450px;
    width: 220px;
    margin-left: 295px;
    margin-top: -450px;
}
.carousel-item3{
    height: 450px;
    width: 220px;
    margin-left: 535px;
    margin-top: -450px;
}
.carousel-item4{
    height: 450px;
    width: 220px;
    margin-left: 775px;
    margin-top: -450px;
}
.carousel-item5{
    height: 450px;
    width: 220px;
    margin-left: 1015px;
    margin-top: -450px;
}
.carousel-item6{
    height: 450px;
    width: 220px;
    margin-left: 1070px;
    margin-top: -450px;
}